body {
	background-color:white;
	margin:6px;
   font-family:palatino;
   float:left;  
   font-family:'tw cen mt';
   font-size:20px;
}
h3{
	width:300px;
	color:red;
	font-family:'tw cen mt';
}

nav {
    background-color: #333;
	text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    margin-right: 20px; /* Espace entre les éléments liens */
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
 
p {
  font-family:arial;
  color:black;
  }
  .photo.text1{
    text-align: center;
    margin-left: 50%;
    width: 300%;
  }
 .photo h1{
    text-align: center;
    color: red;
 }
 .photo img{
    display:table;
    margin: auto;
 }
	


	